@using BlogSystem.Dto
@{
    ViewBag.Title = "DetailArticle";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
    var articledata = (List<ArticleDto>)ViewBag.articledata;
    var coList = (List<CommentDto>)ViewBag.coList;
    var userList = (List<UserInformation>)ViewBag.dataList;
    var fsList = (List<FansDto>)ViewBag.fsList;
    var collectList = (List<ArticleCollectDto>)ViewBag.ArtCollectList;
    var sign = 0;
    string ajaxdata = "ajaxdata";
    string imgdata = "imgdata";
}
@model List<CommentDto>
<script src="~/Scripts/jquery-3.4.1.js"></script>

<script>
    function btns() {
        $.ajax({
            type: "POST",
            url: "InitData",
            data: "{}",
            dataType: 'json',
            success: function (result) {
                var jlist = eval(result);   //转化json对象
                for (var i = 0; i < jlist.length; i++) {
                    console.log("/FrontPage/images/" + jlist[i].ImagePath);
                    document.getElementById("ajaxdata1").innerHTML = jlist[0].NickName;
                    document.getElementById("ajaxdata2").innerHTML = jlist[1].NickName;
                    document.getElementById("ajaxdata3").innerHTML = jlist[2].NickName;
                    document.getElementById("ajaxdata4").innerHTML = jlist[3].NickName;
                    document.getElementById("ajaxdata5").innerHTML = jlist[4].NickName;
                    var sr = "/FrontPage/images/";
                    var obj = document.getElementById("imgdata1");
                    obj.src = sr + jlist[0].ImagePath;
                    console.log(obj);
                    document.getElementById("imgdata2").src = sr + jlist[1].ImagePath;
                    document.getElementById("imgdata3").src = sr + jlist[2].ImagePath;
                    document.getElementById("imgdata4").src = sr + jlist[3].ImagePath;
                    document.getElementById("imgdata5").src = sr + jlist[4].ImagePath;

                }
            }
        });
    }
</script>
<style>
    .collect {
        display: inline-block;
        padding: 3px 8px;
        color: gray;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
        margin-right: 10px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 10px;
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,.5);
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5);
        text-shadow: 0 -1px 1px rgba(0,0,0,.25);
        vertical-align: middle;
    }
</style>
@Html.Partial("_PartialHomePart");
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8 content detail">
            <div class="fly-panel detail-box">
                <h1> @ViewBag.atitle </h1>
                <div class="fly-detail-info">

                    <span class="layui-badge layui-bg-green fly-detail-column">博文</span>

                    <span class="fly-list-nums">
                        <a href="#comment"><i class="iconfont" title="评论">&#xe60c;</i>评论 @Model.Count()</a>
                        <i class="iconfont" title="推荐">&#xe63b;</i>@ViewBag.agoodc
                    </span>
                </div>
                <div class="detail-about">
                    <a class="fly-avatar" href="/User/UserHome">
                        <img src="~/FrontPage/images/@ViewBag.uimg" style="display: block;
                                       width: 45px;
                                       height: 45px;
                                       margin: 0;
                                       border-radius:50%;">
                    </a>
                    <div class="fly-detail-user">
                        <a href="/User/UserHome?userid=@ViewBag.uid" class="fly-link">
                            <cite>@ViewBag.auser</cite>
                            <i class="iconfont icon-renzheng" title="认证信息：{{ rows.user.approve }}"></i>
                            <i class="layui-badge fly-badge-vip">VIP3</i>
                        </a>
                        <span>@ViewBag.createtime</span>
                    </div>
                    <div class="detail-hits" id="LAY_jieAdmin" data-id="123">
                        @if (Session["Userid"] != null && Guid.Parse(Session["Userid"].ToString()) == @ViewBag.uid)
                        {
                            <span class="layui-btn layui-btn-xs jie-admin" type="edit"><a href="/Article/EditArticle?articleid=@ViewBag.actid&cateids=@ViewBag.acateid">编辑博客</a></span>
                        }
                    </div>
                </div>
                <div class="detail-body photos">
                    <div>
                        @Html.Raw(ViewBag.acontent)
                    </div>
                    随笔分类
                    <p>
                        @foreach (var item in ViewBag.acatename)
                        {
                            @item @:&nbsp;&nbsp;
                        }
                    </p>
                </div>
            </div>

            <div class="fly-panel detail-box" id="flyReply">
                <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
                    <legend>评论</legend>
                </fieldset>
                <ul class="jieda" id="jieda">
                    @foreach (var item in Model.OrderByDescending(m => m.CreateTime))
                    {
                        <li>
                            <div class="detail-about detail-about-reply">
                                <a class="fly-avatar">
                                    <img src="/FrontPage/images/@item.ImagePath" />
                                </a>
                                <div class="fly-detail-user">
                                    <a href="/User/UserHome?userid=@item.UserId" class="fly-link" style="font-size: 16px;">
                                        @item.NickName
                                    </a>
                                </div>
                                <div class="detail-hits">
                                    <span>@item.CreateTime</span>
                                </div>
                            </div>
                            <div class="detail-body layui-text jieda-body photos">
                                @item.Content
                            </div>
                            <div class="jieda-reply">
                                @if (Guid.Parse(Session["Userid"].ToString()) != item.UserId)
                                {
                                    <span><a style="color: red" onclick="CommentReport('@item.Id')" href="#">举报</a></span>
                                    <span> <a style="color: red" onclick="ReplyComment('@item.Id','@item.UserId')" href="#">回复</a> </span>//父评论Id
                                    @*<input type="hidden" value="" id="replyUsId"/>*@ //被回复人Id
                                    <input type="hidden" value="@item.Id" id="commentParentId" />//针对评论的回复查询
                                }
                            </div>
                            @*<p style="color: #999;">
                        <a href="/User/UserHome?userid=@item.UserId" class="fly-link" style="font-size: 16px;">
                            @item.NickName
                        </a>
                        <br />
                        <span>
                            @item.Content
                            @item.CreateTime
                        </span>
                        @if (Guid.Parse(Session["Userid"].ToString()) != item.UserId)
                        {
                            <a style="color: red" onclick="CommentReport('@item.Id')" href="#">举报</a>
                            <a style="color: red" onclick="ReplyComment('@item.Id','@item.UserId')" href="#">回复</a> //父评论Id

                            <input type="hidden" value="@item.Id" id="commentParentId" />//针对评论的回复查询
                        }
                        <ul>
                            <li id="replyData">

                            </li>
                        </ul>
                    </p>*@
                            <script type="text/javascript">
                                function CommentReport(id) {
                                    layer.open({
                                        type: 2,
                                        title: '请输入举报内容',
                                        maxmin: false,
                                        resize: false,
                                        anim: 1,
                                        shadeClose: true,
                                        area: ['500px', '350px'],
                                        content: 'ReportByComm?id=' + id
                                    });
                                }
                                //针对评论回复
                                function ReplyComment(commentid, replyUsId, type = 0) {
                                    layer.open({
                                        type: 2,
                                        title: '请输入回复内容',
                                        maxmin: false,
                                        resize: false,
                                        anim: 2,
                                        shadeClose: true,
                                        area: ['500px', '350px'],
                                        content: 'ReplyCommentsView?commentid=' + commentid + '&replyUsId=' + replyUsId + '&type=' + type
                                    });
                                }
                            </script>
                            @try
                            {
                                if (Guid.Parse(Session["Userid"].ToString()) == item.UserId)
                                {
                                    <a href="/Article/RemoveCommentByUser?commentid=@item.Id" class="cm-link" onclick="return confirm('你确定要删除你的评论吗？')">删除评论</a>
                                    <a href="#" class="link-update" onclick="updateLayer('@item.Id')">修改</a>
                                    <hr />
                                }
                            }
                            catch (Exception e)
                            {

                            }
                        </li>
                        <li id="das">
                            <div class="detail-about detail-about-reply">
                                <a class="fly-avatar" id=reimg>
                                    @*<img src="/FrontPage/images/@item.ImagePath" />*@
                                </a>
                                <div class="fly-detail-user" id="reusers">
                                    @*<a href="/User/UserHome?userid=@item.UserId" class="fly-link" style="font-size: 16px;">

                                    </a>*@
                                </div>
                                <div class="detail-hits">
                                    @*<span>@item.CreateTime</span>*@
                                </div>
                            </div>
                            <div class="detail-body layui-text jieda-body photos" id="contents">
                                @*@item.Content*@

                            </div>
                            <div class="jieda-reply" id="returns">
                                @*<span><a style="color: red" onclick="CommentReport('@item.Id')" href="#">举报</a></span>*@
                                <span > @*<a style="color: red" onclick="ReplyComment()" href="#">回复</a>*@ </span>

                                @*<input type="hidden" value="" id="replyUsId"/>被回复人Id*@ 
                                @*<input type="hidden" value="@item.Id" id="commentParentId" />针对评论的回复查询*@
                            </div>
                        </li>
                    }
                </ul>
                <input type="hidden" id="uusid" value="@ViewBag.uid" />
                <script>
                    window.onload = function() {
                        var commparentId = $("#commentParentId").val();
                        var uusid = $("#uusid").val();
                        
                        $.ajax({
                            type: "get",
                            url: "GetReplyComment",
                            dataType: "json",
                            data: {
                                commparentId: commparentId
                            },
                            success: function(msg) {
                                if (msg.code === 100) {
                                    console.log(msg.data);
                                    var arr = msg.data;

                                    var das = "";
                                    var hrefs = "/User/UserHome?userid=";
                                    arr.forEach(function (items) {

                                        if (items.ReplierId===uusid) {
                                            var tn = "楼主";
                                        } else {
                                            var tn = "";
                                        }

                                        das += '<div class="detail-about detail-about-reply">' +
                                            '<a class="fly-avatar">' + '<img src="/FrontPage/images/'+items.ImagePath+'"/>' + '<a class="fly-avatar">' +
                                            '<div class="fly-detail-user">' + '<a href='+ hrefs + items.ReplierId +' class="fly-link" style="font-size: 16px;">' +items.NickName+ '</a>' +tn+ '回复：' + '</div>' +

                                            '</div>' +
                                            '<div class="detail-body layui-text jieda-body photos">' +  '<a>' + '@@' + items.ByReplyNickName + '</a>' + '<p>' + items.ReplyContent + '</p>' + '</div>' +
                                            '<div class="jieda-reply">' +
                                            '<span>'+'<a style="color: gray" onclick="returnComm('+"'"+items.Id+"'"+ ','+"'"+items.ReplierId+"'"+ ','+"'"+items.CommentParentId+"'"+')">'+'回复'+'</a>' + '</span>' +
                                            '</div>' +
                                            '<input type="hidden" value="' + items.ReplierId + '"/>' +
                                            '<input type="hidden" value="' + items.Id + '">';     ;

                                    });
                                    $("#das").html(das);
                                }
                            }
                        });
                    }
                </script>
                <script>
                    //针对回复的回复
                    function returnComm(commentParentId,returnUsId,targId) {
                        layer.open({
                            type: 2,
                            title: '请输入回复内容',
                            maxmin: false,
                            resize: false,
                            anim: 2,
                            shadeClose: true,
                            area: ['500px', '350px'],
                            content: 'ReturnCommentsView?commentParentId=' + commentParentId + '&returnUsId=' + returnUsId + '&targId='+targId
                        });
                    }
                </script>
                <div class="layui-form layui-form-pane">
                    <form id="form-comment-add" name="form-comment-add" enctype="multipart/form-data">
                        <div class="layui-form-item layui-form-text">
                            <input type="hidden" id="coID" name="coID" />
                            <input type="hidden" id="articleid" name="articleid" value="@ViewBag.actid " />
                            <a name="comment"></a>
                            <div class="layui-input-block">
                                <textarea id="content" name="content" required lay-verify="required" placeholder="请输入内容(字符限制50)" class="layui-textarea fly-editor" style="height: 150px;" maxlength="25"></textarea>
                            </div>
                            <script>
                                $("#btnAddcomment").click(function () {
                                    if ($("#content").val()) {
                                        alert('请输入评论!');
                                        return;
                                    }
                                });
                            </script>
                        </div>
                        <div class="layui-form-item">
                            <input class="layui-btn" type="submit" lay-filter="*" lay-submit id="btnAddcomment" value="提交评论">
                        </div>
                    </form>
                </div>
                @try //管理员预览文章避免用户session为空异常
                {
                    if (ViewBag.astate == true && Guid.Parse(Session["Userid"].ToString()) != @ViewBag.uid)
                    {
                        <form>
                            @*<input type="button" id="Recommend" name="Recommend" value="推荐" />*@
                            <div id="good">
                                <a onclick="Recommend()" id="goods" style="cursor: pointer"><i class="layui-icon-praise">&#xe6c6;</i> 好文推荐 </a>
                            </div>
                            <div id="bad">
                                <a onclick="Opposition()" id="bads" style="cursor: pointer"><i class="layui-icon-praise">&#xe6c6;</i> 反对 </a>
                            </div>
                        </form>
                    }
                }
                catch (Exception e)
                {
                    <p>管理员不可见</p>
                }
                <a id="aa" href="#top" target="_self">返回顶部</a>
                <script>
                    $(function () {
                        $("#aa").click(function () {
                            $("html,body").animate({ scrollTop: 0 }, 1000);
                        });
                    })
                </script>
                <script>
                    function Recommend() {
                        $.ajax({
                            type: "post",
                            url: "Recommend",
                            dataType: "json",
                            data: {
                                articleid: $("#articleid").val()
                            },
                            success: function (msg) {
                                if (msg.code === 100) {
                                    console.log(msg.data.GoodCount);
                                    //$("#good").text(msg.GoodCount);
                                    $("#good").text("点赞成功");
                                }
                            }
                        });
                    }
                    function Opposition() {
                        $.ajax({
                            type: "post",
                            url: "Opposition",
                            dataType: "json",
                            data: {
                                articleid: $("#articleid").val()
                            },
                            success: function (msg) {
                                if (msg.code === 100) {
                                    console.log(msg.data.BadCount);
                                    //$("#good").text(msg.BadCount);
                                    $("#bad").text("反对成功");
                                }
                            }
                        });
                    }
                </script>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="fly-panel">
                <div class="fly-panel-title">
                    推荐关注
                </div>
                <div class="fly-panel-main" id="ajaxData">
                    <input type="hidden" id="uid" value="@Session["Userid"]" />
                    <input type="button" onclick="btns()" name="name" value="点击刷新用户" class="layui-input" title="刷新推荐" />
                    <ul class="fly-list">
                        @foreach (var user in userList)
                        {
                            sign++;
                            <li>
                                <img src="/FrontPage/images/@user.ImagePath" id="@imgdata@sign" class="uimg" style="width: 50px; height: 50px;" />
                                <a href="~/User/UserHome?userid=@user.Id" id="@ajaxdata@sign" class="fly-avatar">
                                    @user.NickName
                                </a>
                                @*<a onclick="Atten('@user.Id')" style="color: red; cursor: pointer" id="follow">+关注</a>*@
                                @*<script>
                                        function Atten(fid) {
                                            $.ajax({
                                                type: "post",
                                                url: "/User/CreateAttention",
                                                dataType: "json",
                                                data: {
                                                    userid:$("#uid").val(),
                                                    focusid:fid
                                                },
                                                success: function (msg) {
                                                    if (msg.status) {
                                                        $("#follow").text('关注成功');
                                                        console.log(msg.data);
                                                    }
                                                }
                                            });
                                        }
                                    </script>*@
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="fly-panel fly-link">
                <h3 class="fly-panel-title">文章热议/评论</h3>
                <ul class="fly-panel-main" style="color:dimgray">
                    @foreach (var item in coList
                        .GroupBy(m => m.Title, m => m.ArticleId)
                        .Select(m => (new { Title = m.Key, ArticleId = m.ToArray(), Count = m.Count() }))
                        .OrderByDescending(m => m.Count))
                    {
                        <li>
                            <a href="/Article/DetailArticle?articleid=@item.ArticleId[0]">@item.Title (@item.Count)</a>
                        </li>
                    }
                </ul>
            </div>

            <div class="fly-panel fly-link">
                <h3 class="fly-panel-title">最多收藏/收藏数</h3>
                <ul class="fly-panel-main" style="color:dimgray">
                    @foreach (var item in collectList
                        .GroupBy(m => m.Title, m => m.ArticleId)
                        .Select(m => (new { Title = m.Key, ArticleId = m.ToArray(), Count = m.Count() }))
                        .OrderByDescending(m => m.Count))
                    {
                        <li>
                            <a href="/Article/DetailArticle?articleid=@item.ArticleId[0]">
                                @item.Title (@item.Count)
                            </a>
                        </li>
                    }
                </ul>
            </div>

            <div class="fly-panel">
                <div class="fly-panel-title">
                    热点文章(TOP5)
                </div>
                <div class="fly-panel-main">
                    <ul class="fly-list">
                        @foreach (var item in articledata.OrderByDescending(m => m.GoodCount).Take(5)) //访问前五条数据
                        {
                            var titlesub = item.Title;
                            if (titlesub.Length > 15)
                            {
                                titlesub = titlesub.Substring(0, 15) + "...";
                            }
                            <li>
                                <a class="fly-avatar">
                                    <img src="~/FrontPage/images/@item.ImagePath" alt="@item.NickName" class="uimg">
                                </a>
                                <h3>
                                    <a href="#" class="layui-badge">文章</a>
                                    <a href="/Article/DetailArticle?articleid=@item.Id" target="_blank">@titlesub</a>
                                </h3>
                                <div class="fly-list-info">
                                    <a href="/User/UserHome?userid=@item.UserId" target="_blank">@item.NickName</a>
                                    <span>@item.CreateTime.ToString("yyyy-M-d dddd")</span>
                                </div>
                                @*<a href="/Article/DetailArticle?articleid=@item.Id" class="fly-avatar">
                                        <img src="~/FrontPage/images/@item.ImagePath" alt="@item.NickName" class="uimg">
                                        @titlesub
                                    </a>*@
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="fly-panel fly-link">
                <h3 class="fly-panel-title">相关博文</h3>
                <ul class="fly-panel-main" style="color:dimgray">
                    @foreach (var item in ViewBag.ArticleTitleLike)
                    {
                        <li>
                            <a href="/Article/DetailArticle?articleid=@item.Id">
                                @item.Title
                            </a>
                        </li>
                    }
                </ul>
            </div>

            <div class="fly-panel" style="padding: 20px 0; text-align: center;">

                @if (Guid.Parse(Session["Userid"].ToString()) != @ViewBag.uid)
                {
                    if (ViewBag.artIsCollect != null)
                    {
                        <a onclick="Cancel()" style="cursor: pointer" class="collect">取消收藏</a>
                    }
                    else
                    {
                        <a onclick="Collect()" style="cursor: pointer" class="collect">好文收藏</a>
                    }
                }
                <script type="text/javascript">
                    function Collect() {
                        $.ajax({
                            type: "post",
                            url: "CreateCollectByUser",
                            dataType: "json",
                            data: {
                                userid: $("#uid").val(),
                                articleid: $("#articleid").val()
                            },
                            success: function (msg) {
                                if (msg.status) {
                                    alert('收藏成功!');
                                    window.location.reload();
                                    console.log(msg.data);
                                }
                            }
                        });
                    }

                    function Cancel() {
                        $.ajax({
                            type: "post",
                            url: "CancelCollectByUser",
                            dataType: "json",
                            data: {
                                userid: $("#uid").val(),
                                articleid: $("#articleid").val()
                            },
                            success: function (msg) {
                                if (msg.status) {
                                    alert('已取消收藏!');
                                    window.location.reload();
                                    console.log(msg.data);
                                }
                            }
                        });
                    }
                </script>
            </div>
        </div>
    </div>
</div>

<script>
    $("#btnAddcomment").click(function () {
        if (!$("#content").val()) {
            alert('请输入评论');
            return;
        } else {
            $.ajax({
                type: "post",
                url: "CreateComment",
                data: $("#form-comment-add").serialize(),
                success: function (msg) {
                    if (msg.status === 1) {
                        alert('评论成功');
                        window.location.reload(); //刷新
                    }
                }
            });
        }
    });
</script>

<script>
    function AddTextareaValue(value, cID) {
        var content = value;    //获得当前评论的内容
        document.getElementById("content").value = content;
        document.getElementById("btnAddcomment").value = '修改评论';
        document.getElementById("btnAddcomment").id = 'EditComment';  //动态改变id值
        document.getElementById("coID").value = cID;
    }
</script>

<script type="text/javascript">
    function updateLayer(id) {
        layer.open({
            type: 2,
            title: '修改评论信息',
            maxmin: false,
            shadeClose: true,
            area: ['550px', '400px'],
            content: 'EditCommentByuser?id=' + id
        });
    }
</script>
