@using BlogSystem.Dto
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
    var usList = (List<UserInformation>)ViewBag.alluser;
    var coList = (List<CommentDto>)ViewBag.coList;
    var articleTocate = (List<ArticleToBlogcateDto>)ViewBag.articleTocateList;
    var catelist = (List<BlogCategoryDto>)ViewBag.catelist;
    var sign = 1;
}

<style>
    .uimg {
        display: block;
        width: 45px;
        height: 45px;
        margin: 0;
        border-radius: 2px;
    }

    #test2 {
        width: 760px;
        height: 160px;
    }

    .element.style {
        width: 760px;
        height: 160px;
    }
</style>
@model PagedList.IPagedList<ArticleDto>
@Html.Partial("_PartialHomePart");
<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="fly-panel" style="margin-bottom: 10px;">
                <div class="layui-carousel" id="test1">
                    <div carousel-item="">
                        <img src="/FrontPage/images/c1.jpg" style="max-width: 100%" />
                        <img src="/FrontPage/images/c2.jpg" style="max-width: 100%" />
                    </div>
                </div>
            </div>

            <div class="fly-panel" style="margin-bottom: 0;">
                <div class="fly-panel-title fly-filter">
                    <a href="" class="layui-this">综合</a>
                    <span class="fly-filter-right layui-hide-xs">
                        <a href="" class="layui-this">按最新</a>
                        @*<a href="" onclick="searchFoucsArt()" class="layui-this">我关注的人发布的文章</a>*@
                    </span>
                    
                </div>
                <ul class="fly-list">
                    @foreach (var item in Model.OrderByDescending(m => m.CreateTime))
                    {
                        var titlesub = item.Title;
                        if (titlesub.Length > 15)
                        {
                            titlesub = titlesub.Substring(0, 15) + "...";
                        }
                        <li>
                            <a class="fly-avatar">
                                <img src="~/FrontPage/images/@item.ImagePath" alt="@item.NickName" class="uimg">
                            </a>
                            <h2>
                                <a href="#" class="layui-badge">文章</a>
                                <a href="/Article/DetailArticle?articleid=@item.Id">@titlesub</a>
                            </h2>
                            <div class="fly-list-info">
                                <a href="/User/UserHome?userid=@item.UserId" target="_blank">@item.NickName</a>
                                <span>post: @item.CreateTime.ToString("yyyy-M-d dddd")</span>
                            </div>
                        </li>
                    }
                    <ul>
                        <div style="text-align: center">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                            每页 @Model.PageSize 篇文章，共 @Model.PageCount 页，当前第 @Model.PageNumber 页
                        </div>
                    </ul>
                </ul>
            </div>
        </div>

        <div class="layui-col-md4">
            <div class="fly-panel">
                <div class="site-demo-laydate">
                    <div class="layui-inline" id="test-n1"></div>
                </div>
            </div>
            <div class="fly-panel">
                <h3 class="fly-panel-title">统计信息</h3>
                <ul class="fly-panel-main" style="color: dimgray">
                    <li>
                        文章 - @Model.Count()
                    </li>
                    <li>
                        随笔 - @ViewBag.catecount
                    </li>
                    <li>
                        博客 - @ViewBag.ucount
                    </li>
                    <li>
                        评论 - @ViewBag.ccount
                    </li>
                </ul>
            </div>

            <div class="fly-panel fly-link">
                <h3 class="fly-panel-title">推荐博客排行（按粉丝数）</h3>
                @foreach (var item in usList)
                {
                    <dl class="fly-panel-main">
                        <dd>
                            <span>@sign</span>.<a href="/User/UserHome?userid=@item.Id">@item.NickName</a>
                        <dd>
                    </dl>
                    sign++;
                }
            </div>

            @*<div class="fly-panel fly-link">
                <h3 class="fly-panel-title">随笔分类</h3>
                @foreach (var item in articleTocate
                    .GroupBy(m => m.BlogCategoryId)
                    .Take(5)
                    .OrderByDescending(m => m.Count())

                    )
                {
                    <dl class="fly-panel-main">
                        <dd>
                            @foreach (var items in item)
                            {
                                if (items.BlogCategoryId == item.Key)
                                {

                                    <a href="#" onclick="FindArticleToCate('@item.Key')">@items.CateName (@item.Count())</a>
                                    break;
                                }
                            }
                        <dd>
                    </dl>
                }
            </div>*@

            <div class="fly-panel fly-link">
                <h3 class="fly-panel-title">文章热议</h3>
                <ul class="fly-panel-main" style="color: dimgray">
                    @foreach (var item in coList
                        .GroupBy(m => m.Title, m => m.ArticleId)
                        .Select(m => (new { Title = m.Key, ArticleId = m.ToArray(), Count = m.Count() }))
                        .OrderByDescending(m => m.Count))
                    {
                        <li>
                            <a href="/Article/DetailArticle?articleid=@item.ArticleId[0]">@item.Title (@item.Count)</a>
                        </li>
                    }
                </ul>
            </div>

            <div class="fly-panel fly-link">
                <h3 class="fly-panel-title">友情链接</h3>
                @foreach (var item in ViewBag.links)
                {
                    <dl class="fly-panel-main">
                        <dd>
                            <a href="@item.Url" target="_blank">@item.Title</a>
                        <dd>
                    </dl>
                }
            </div>
        </div>
    </div>
</div>

<script>
    function FindArticleToCate(blogcateid) {
        layer.open({
            type: 2,
            title: '文章列表',
            maxmin: false,
            area: ['550px', '400px'],
            content: 'ArticleByIndexCateId?blogcateid=' + blogcateid
        });
    }
</script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<ul class="layui-fixbar" id="ttoop">
    <li class="layui-icon" lay-type="bar1" style="background-color:#009688">
          
    </li>
    <li class="layui-icon layui-fixbar-top" lay-type="top" style="background-color: rgb(0, 150, 136); display: list-item;">
        <i></i>
    </li>
</ul>
<script>
    $(function () {
        $("#ttoop").click(function () {
            $("html,body").animate({ scrollTop: 0 }, 1000);
        });
    })
</script>