@using BlogSystem.Dto
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
    var usList = (List<UserInformation>)ViewBag.alluser;
    var coList = (List<CommentDto>)ViewBag.coList;
    var articleTocate = (List<ArticleToBlogcateDto>)ViewBag.articleTocateList;
    var sign = 1;

}
<style>
    .uimg {
        display: block;
        width: 45px;
        height: 45px;
        margin: 0;
        border-radius: 2px;
    }
</style>
@model PagedList.IPagedList<ArticleDto>
@Html.Partial("_PartialHomePart");
<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="fly-panel" style="margin-bottom: 0;">
                <div class="fly-panel-title fly-filter">
                    <a href="" class="layui-this">综合</a>
                    <span class="fly-filter-right layui-hide-xs">
                        <a href="" class="layui-this">按最新</a>
                    </span>
                </div>
                <ul class="fly-list">
                    @foreach (var item in Model.OrderByDescending(m => m.CreateTime))
                    {
                        var titlesub = item.Title;
                        if (titlesub.Length > 15)
                        {
                            titlesub = titlesub.Substring(0, 15) + "...";
                        }
                        <li>
                            <a href="/Article/DetailArticle?articleid=@item.Id" class="fly-avatar">
                                <img src="~/FrontPage/images/@item.ImagePath" alt="@item.NickName" class="uimg">
                                @titlesub
                            </a>
                        </li>
                    }
                    <ul>
                        <div style="text-align: center">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                            每页 @Model.PageSize 篇文章，共 @Model.PageCount 页，当前第 @Model.PageNumber 页
                        </div>
                    </ul>
                </ul>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="fly-panel">
                <h3 class="fly-panel-title">统计信息</h3>
                <ul class="fly-panel-main" style="color:dimgray">
                    <li>
                        文章  -   @Model.Count()
                    </li>
                    <li>
                        随笔  -   @ViewBag.catecount
                    </li>
                    <li>
                        博客  -   @ViewBag.ucount
                    </li>
                    <li>
                        评论  -   @ViewBag.ccount
                    </li>
                </ul>
            </div>

            <div class="fly-panel fly-link">
                <h3 class="fly-panel-title">推荐博客排行（按粉丝数）</h3>
                @foreach (var item in usList)
                {
                    <dl class="fly-panel-main">
                        <dd>
                            <span>@sign</span>.<a href="/User/UserHome?userid=@item.Id">@item.NickName</a>
                        <dd>
                    </dl>
                    sign++;
                }
            </div>

            <div class="fly-panel fly-link">
                <h3 class="fly-panel-title">随笔分类</h3>
                @foreach (var item in articleTocate
                .GroupBy(m => m.CateName, m => m.BlogCategoryId)
                .Select(m => new { CateName = m.Key, Count = m.Count() }))
                {
                    <dl class="fly-panel-main">
                        <dd>
                            <a href="#">@item.CateName (@item.Count)</a>
                        <dd>
                    </dl>

                }
            </div>

            <div class="fly-panel fly-link">
                <h3 class="fly-panel-title">文章热议</h3>
                <ul class="fly-panel-main" style="color:dimgray">
                    @*@foreach (var item in coList
                            .GroupBy(m => new { m.ArticleId,m.Title })
                            .Select(m => new
                            {
                                ArticleId = m.Key.ArticleId,Title=m.Key.Title,

                            }))
                        {
                            <li>@item.Title</li>
                        }*@
                    @foreach (var item in coList
                        .GroupBy(m => m.Title, m => m.ArticleId)
                        .Select(m => (new { Title = m.Key, ArticleId = m.ToArray(), Count = m.Count() }))
                        .OrderByDescending(m => m.Count))
                    {
                        <li>
                            <a href="/Article/DetailArticle?articleid=@item.ArticleId[0]">@item.Title (@item.Count)</a>
                        </li>
                    }
                </ul>
            </div>

            <div class="fly-panel fly-link">
                <h3 class="fly-panel-title">友情链接</h3>
                @foreach (var item in ViewBag.links)
                {
                    <dl class="fly-panel-main">
                        <dd>
                            <a href="@item.Url" target="_blank">@item.Title</a>
                        <dd>
                    </dl>
                }
            </div>
        </div>
    </div>
</div>
