@using PagedList.Mvc
@using BlogSystem.Dto
@model PagedList.IPagedList<LinkDto>
@{
    ViewBag.Title = "LinkIndex";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="result-wrap">
    <form id="sea">
        <div class="result-title">
            <input type="text" name="linkname" value="@ViewBag.linkname" placeholder="输入链接名"/>
            <input type="submit" name="name" value="查询" class="layui-input"/>
            <div class="result-list">
                <a onclick="addLayers()" style="cursor: pointer"><i class="icon-font"></i>新增链接</a>
                <a id=" batchDel" href="javascript:void(0)" onclick="manyLinks_del()"><i class="icon-font"></i>批量删除</a>
            </div>
        </div>
    </form>
        <div class="result-content">
            <table class="result-tab" width="100%">
                <tr>
                    <th class="tc" width="5%"><input type="checkbox" class="allChoose" /></th>
                    <th>链接名</th>
                    <th>URL</th>
                    <th>描述</th>
                    <th>操作</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="tc"><input name="id[]" value="@item.Id" type="checkbox" class="singleChoose"></td>
                        <td>@item.Title</td>
                        <td>@item.Url</td>
                        <td>@item.Describe</td>
                        <td>
                            <a class="link-update" onclick="updateLayer('@item.Id')">修改</a>
                            <a class="link-del" onclick="link_del('@item.Id',this)">删除</a>
                        </td>
                    </tr>
                }
            </table>
            <div class="list-page">
                每页 @Model.PageSize 条记录，共 @Model.PageCount 页，当前第 @Model.PageNumber 页
                @Html.PagedListPager(Model, page => Url.Action("LinkIndex", new { page }))
            </div>
        </div>
</div>
<script>
    function addLayers() {
        layer.open({
            type: 2,
            title: '新增友情链接',
            maxmin: true,
            shadeClose: true, //点击遮罩关闭层
            area: ['510px', '460px'],
            content: 'CreateLink'
        });
    }
    function updateLayer(id)
    {
        layer.open({
            type: 2,
            title: "修改链接",
            maxmin: true,
            shadeClose: true,
            area:['510px', '460px'],
            content: 'EditLink?id=' + id
        });
    }

    function link_del(id, obj) {
        //参数1：询问,参数2：回调函数（参数自动补齐）
        layer.confirm('确定要删除吗？', function (index) {
            //请求后台
            $.post("RemoveLink", { id: id })
            //查找每个obj元素的父元素进行删除
            $(obj).parents("tr").remove();
            //提示
            layer.msg('删除成功！', { icon: 1, time: 1000 });
        });
    }

    //checkbox的全选与取消全选
    $('.allChoose').on('change', function () {
        if ($(this).is(':checked')) {
            $('.singleChoose').prop('checked', 'checked');
        } else {
            $('.singleChoose').prop('checked', '');
        }
    })

    function manyLinks_del() {
        var idStr = '';
        $(".singleChoose").each(function () {
            if ($(this)[0].checked) {
                idStr += $(this).val() + ',';
            }
        });
        if (!idStr) {
            alert('请至少勾选一个进行删除！');
            return;
        }
        layer.confirm('确认要删除选中的吗？', function (index) {
            $.get("ManyRemoveLink", { idStr: idStr })
            layer.msg('已删除！', { icon: 1, time: 1000 });
            window.location.reload();
        });
    }
</script>